<nav>
  <img src="/logo.svg" alt="WTC Logo" height="60"/>
  <ul>
    <li><a href="/">Home</a></li>
    <!-- <li><a href="/products">Products</a></li> -->
    <!-- <li><a href="/technicians">Technicians</a></li> -->
    <li><a href="/about">About Us</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>